on:
  push:
    tags:
    - bulk-rename--v*
  
name: Latest Release

defaults:
  run:
    shell: bash
    working-directory: ./src/bulk-rename

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      backend_changed: ${{ steps.changes.outputs.backend_changed }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - id: changes
      run: |
        git fetch origin ${{ github.base_ref }} --depth=1
        CHANGED_FILES=$(git diff --name-only origin/${{ github.base_ref }} ${{ github.sha }})

        echo "backend_changed=false" >> "$GITHUB_OUTPUT"

        if echo "$CHANGED_FILES" | grep -q '^src/bulk-rename/'; then
          echo "backend_changed=true" >> "$GITHUB_OUTPUT"
        fi

  lint:
    name: Lint files
    runs-on: ubuntu-latest
    if: needs.detect-changes.outputs.backend_changed == 'true'
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version: '1.20.5'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: [lint]
    if: needs.detect-changes.outputs.backend_changed == 'true'
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version: '1.20.5'

    - run: go test -v -cover

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: needs.detect-changes.outputs.backend_changed == 'true'
    strategy:
      matrix:
        goosarch:
        - linux/amd64
        - darwin/arm64
        # - windows/amd64
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version: '1.20.5'

    - name: Get OS and arch info
      run: |
        GOOSARCH=${{ matrix.goosarch }}
        GOOS=${GOOSARCH%/*}
        GOARCH=${GOOSARCH#*/}
        BINARY_NAME=${{ github.repository }}-$GOOS-$GOARCH
        echo "BINARY_NAME=$BINARY_NAME" >> $GITHUB_ENV
        echo "GOOS=$GOOS" >> $GITHUB_ENV
        echo "GOARCH=$GOARCH" >> $GITHUB_ENV

    - name: Build
      run: go build -o "$BINARY_NAME" -v

    - name: Release Notes
      run: git log $(git describe HEAD~ --tags --abbrev=0)..HEAD --pretty='format:* %h %s%n  * %an <%ae>' --no-merges >> ".github/RELEASE-TEMPLATE.md"

    - name: Release with Notes
      uses: softprops/action-gh-release@v1
      with:
        body_path: .github/RELEASE-TEMPLATE.md
        draft: true
        files: ${{ env.BINARY_NAME }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
